.l-header {//.l-header
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $base-color;
    font-family: $font-family;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.5s;
    &.transform {
        background-color: $sub-color;
        z-index: 10;
    }
    &-content {//.l-header-content
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 90px;
        max-width: 480px;
        width: 100%;
        height: 80px;
        @include media-sp {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 0 15px;
        }
    }
    &-logo {//.l-header-logo
        width: 100px;
        @include media-sp {
            width: 80px;
        }
        img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
        }
    }
    &-items {//.l-header-items
        display: flex;
        gap: 30px;
        list-style: none;
        @include media-sp {
            padding: 10px 0;
        }
    }
    &-item {//.l-header-item
        text-decoration: none;
        color: $main-color;
        @include media-pc {
            transition: all ease-in-out 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &-request {//.l-header-request
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 80px;
        background-color: $main-color;
        color: $sub-color;
        font-size: 1.2rem;
        text-decoration: none;
        @include media-pc {
            transition: all ease-in-out 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
        @include media-sp {
            display: none;
        }
    }


}