.l-main {
    background-color: $base-color;
    &-mv {//.l-main-mv
        max-width: 1920px;
        height: calc(100vh - 80px);
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-title {//.l-main-title
        position: relative;
        font-size: 3.6rem;
        font-weight: normal;
        margin: 0 0 50px;
        .ja {
            display: block;
            font-size: 1.4rem;
            padding: 0 0 36px;
            @include media-sp {
                padding: 0 0 24px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 1px;
            background-color: $main-color;
        }
    }
    &-news {//.l-main-news
        max-width: 1032px;
        margin: 120px auto 0;
        padding: 0 16px;
        .news-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            @include media-sp {
                flex-direction: column;
            }
        }
        .news-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 30%;
            position: relative;
            @include media-sp {
                margin: 40px 0 0;
                width: 100%;
                &:first-of-type {
                    margin: 0;
                }
            }
            .date {
                margin: 0 10px 0 0;
                font-size: 1.4rem;
            }
            .category {
                padding: 0 7px;
                font-size: 1.2rem;
                color: $sub-color;
                background-color: $main-color;
            }
            .ttl {
                margin: 16px 0 0 0;
                font-size: 1.6rem;
            }
            &::after {
                content: "";
                position: absolute;
                left: -20px;
                width: 1px;
                height: 78px;
                background-color: $main-color;
                @include media-sp {
                    display: none;
                }
            }
            &:first-child {
                &::after {
                    display: none;
                }
            }
        }
    }
    &-about {//.l-main-about
        display: flex;
        margin: 128px 0 0;
        gap: 70px;
        @include media-sp {
            flex-direction: column;
            margin: 90px 0 0;
            gap: 0;
        }
        .about-image {
            width: 54%;
            height: 400px;
            @include media-sp {
                width: 100%;
                height: 300px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .about-content {
            margin: 190px 0 0;
            width: 34%;
            @include media-sp {
                margin: 30px 0 0;
                padding: 0 23px 0 16px;
                width: 100%;
            }
            .text {
                line-height: 3.0rem;
            }
        }
    }
    &-business {//.l-main-business
        max-width: 1032px;
        margin: 120px auto 0;
        padding: 0 16px;

        .business-item {
            width: 368px;
            .ttl {
                display: flex;
                align-items: center;
                position: relative;
                padding: 0 18px 0;
                font-size: 1.4rem;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 8px;
                    height: 1px;
                    background: $main-color;
                }
            }
            img {
                width: 100%;
                height: auto;
            }
        }

    }
}