.l-main {
    background-color: $base-color;
    &-mv {//.l-main-mv
        max-width: 1920px;
        height: calc(100vh - 80px);
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-title {//.l-main-title
        position: relative;
        margin: 0 0 60px;
        font-size: 3.6rem;
        font-weight: normal;
        letter-spacing: 1rem;
        .ja {
            display: block;
            padding: 10px 0 36px;
            font-size: 1.4rem;
            letter-spacing: initial;
            @include media-sp {
                padding: 0 0 24px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 1px;
            background-color: $main-color;
        }
    }
    &-news {//.l-main-news
        max-width: 1032px;
        margin: 120px auto 0;
        padding: 0 16px;
        .news-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            @include media-sp {
                flex-direction: column;
            }
        }
        .news-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 30%;
            position: relative;
            @include media-sp {
                margin: 40px 0 0;
                width: 100%;
                &:first-of-type {
                    margin: 0;
                }
            }
            .date {
                margin: 0 10px 0 0;
                font-size: 1.4rem;
            }
            .category {
                padding: 0 7px;
                font-size: 1.2rem;
                color: $sub-color;
                background-color: $main-color;
            }
            .ttl {
                margin: 16px 0 0 0;
                font-size: 1.6rem;
            }
            &::after {
                content: "";
                position: absolute;
                left: -20px;
                width: 1px;
                height: 78px;
                background-color: $main-color;
                @include media-sp {
                    display: none;
                }
            }
            &:first-child {
                &::after {
                    display: none;
                }
            }
        }
    }
    &-about {//.l-main-about
        display: flex;
        margin: 128px 0 0;
        gap: 70px;
        @include media-sp {
            flex-direction: column;
            margin: 90px 0 0;
            gap: 0;
        }
        .img-area {
            width: 53%;
            height: 400px;
            @include media-sp {
                width: 100%;
                height: 300px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text-area {
            margin: 182px 0 0;
            width: 25%;
            @include media-sp {
                margin: 30px 0 0;
                padding: 0 23px 0 16px;
                width: 100%;
            }
            .l-main-title {
                margin: 0 0 45px;
            }
            .detail {
                line-height: 3.0rem;
            }
        }
    }
    &-business {//.l-main-business
        max-width: 1032px;
        margin: 120px auto 0;
        padding: 0 16px;
        @include media-sp {
            margin: 74px auto 0;
        }
        .l-main-title {
            margin: 0 0 50px;
        }
        .business-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;
            @include media-sp {
                flex-direction: column;
            }
        }
        .business-items.left{
            padding: 100px 0 0;
            @include media-sp {
                padding: 0;
                margin:  0;
            }
        }
        .business-items.right{
            padding: 0 0 100px;
            @include media-sp {
                padding: 0;
                margin:  0;
            }
            @include media-sp {
                margin: 30px 0 0px;
            }
        }
        .business-item {
            max-width: 368px;
            width: 100%;
            @include media-sp {
                max-width: 760px;
            }
            .ttl {
                display: flex;
                align-items: center;
                position: relative;
                margin: 0 0 15px;
                padding: 0 18px 0;
                font-size: 1.4rem;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 8px;
                    height: 1px;
                    background: $main-color;
                }
            }
            &:last-of-type {
                margin: 50px 0 0px;
                @include media-sp {
                    margin: 30px 0 0px;
                }
            }
            img {
                width: 100%;
                height: auto;
                vertical-align: top;
            }
        }
    }
    &-company {//l-main-company
        max-width: 1000px;
        margin: 120px auto 0;
        padding: 0 0 110px;
        position: relative;
        @include media-sp {
            margin: 80px auto 0;
            padding: 0 16px 0;
        }
        .text-area {
            background-color: $sub-color;
            padding: 100px 11.5% 100px 6%;
            width: 56.7%;
            @include media-sp {
                width: 100%;
                padding: 40px 20px;
            }
            .l-main-title {
                margin: 0 0 40px;
            }
            .information {
                display: flex;
                flex-wrap: wrap;
                font-size: 1.4rem;
                @include media-sp {
                    flex-direction: column;
                }
                .ttl {
                    margin: 10px 0 0;
                    width: 22%;
                    @include media-sp {
                        margin: 5px 0 0;
                    }
                }
                .detail {
                    margin: 10px 0 0;
                    width: 78%;
                    &:nth-of-type(n+7) {
                        margin: 10px 0 0 22%;
                    }
                    @include media-sp {
                        margin: 5px 0 0;
                        &:nth-of-type(n+7) {
                            margin: 5px 0 0;
                        }
                    }
                }
            }
        }
        .img-area {
            width: 54.7%;
            height: 400px;
            position: absolute;
            top: 115px;
            right: 0;
            @include media-sp {
                position: unset;
                margin: 20px 0 0;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}